{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
    <section class="post_form" img src="{% static 'img/x_clone.jpeg' %}" alt="X">
        <header>
            <img src="{% static 'img/user.png' %}" alt="">
            <h1>Update Post</h1>
        </header>
        <form method="POST" enctype="multipart/form-data" class="post_forum">
            {% csrf_token %}
            <input type="text" name="name" value="{{ post.name }}" required />
            <textarea name="body" placeholder="Tell us everything" required>{{ post.body }}</textarea>
            {% if  post.image.url %}
                    <img src={{post.image.url}} alt="">
            {% endif %}
                <input name="image" type="file">
                <button type="submit" class="submit-button"> submit</button>
                <a href="/" class="cancel">
                Cancel
            </a>
            
        </form>
    </section>

    </section>


{% endblock %}